asgiref
attrs
certifi
click
colorama
crispy-bootstrap5
crispy-tailwind
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
exceptiongroup
filelock
iniconfig
itsdangerous
Jinja2
MarkupSafe
MouseInfo
packaging
pillow
pipenv
platformdirs
pluggy
psycopg2
psycopg2-binary
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytest
pytweening
sqlparse
tomli
typing_extensions
tzdata
virtualenv
Werkzeug